CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
# CONFIG_GRUB_CONSOLE is not set
# CONFIG_GRUB_IMAGES is not set
CONFIG_GRUB_TIMEOUT="3"
CONFIG_OPENVPN_openssl_ENABLE_DEF_AUTH=y
CONFIG_OPENVPN_openssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_openssl_ENABLE_LZ4=y
CONFIG_OPENVPN_openssl_ENABLE_MULTIHOME=y
CONFIG_OPENVPN_openssl_ENABLE_PF=y
CONFIG_OPENVPN_openssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_openssl_ENABLE_SMALL=y
# CONFIG_PACKAGE_UnblockNeteaseMusicGo is not set
# CONFIG_PACKAGE_adbyby is not set
# CONFIG_PACKAGE_ca-bundle is not set
# CONFIG_PACKAGE_curl is not set
# CONFIG_PACKAGE_ipset is not set
CONFIG_PACKAGE_kmod-tun=m
# CONFIG_PACKAGE_libatomic is not set
# CONFIG_PACKAGE_libcares is not set
# CONFIG_PACKAGE_libcurl is not set
# CONFIG_PACKAGE_libhttp-parser is not set
# CONFIG_PACKAGE_libipset is not set
# CONFIG_PACKAGE_libminiupnpc is not set
CONFIG_PACKAGE_libmnl=m
# CONFIG_PACKAGE_libnatpmp is not set
# CONFIG_PACKAGE_libnghttp2 is not set
# CONFIG_PACKAGE_libstdcpp is not set
CONFIG_PACKAGE_libuv=m
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
# CONFIG_PACKAGE_luci-app-filetransfer is not set
# CONFIG_PACKAGE_luci-app-jd-dailybonus is not set
CONFIG_PACKAGE_luci-app-netdata=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-app-openvpn-server=m
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_fuse-utils is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-uugamebooster is not set
# CONFIG_PACKAGE_luci-app-webadmin is not set
# CONFIG_PACKAGE_luci-app-xlnetacc is not set
# CONFIG_PACKAGE_luci-app-zerotier is not set
CONFIG_PACKAGE_luci-i18n-netdata-zh-cn=m
CONFIG_PACKAGE_luci-i18n-openvpn-server-zh-cn=m
CONFIG_PACKAGE_luci-i18n-openvpn-zh-cn=m
# CONFIG_PACKAGE_luci-lib-fs is not set
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_nano=m
CONFIG_PACKAGE_netdata=m
# CONFIG_PACKAGE_node is not set
CONFIG_PACKAGE_openvpn-easy-rsa=m
CONFIG_PACKAGE_openvpn-openssl=m
# CONFIG_PACKAGE_uugamebooster is not set
# CONFIG_PACKAGE_zerotier is not set
CONFIG_TARGET_IMAGES_GZIP=y
# CONFIG_UnblockNeteaseMusic_Go is not set
